<nav class="w-full h-[8vh] bg-yellow-900 fixed bottom-0 flex items-center justify-center">
    <span class="hidden">
        ContactApp
    </span>
    <ul class="flex">
        <li class="mr-5 text-slate-200 font-semibold"><a href="/">Home</a></li>
        <li class="mr-5 text-slate-200 font-semibold"><a href="/about">About</a></li>
        <li class="mr-5 text-slate-200 font-semibold"><a href="/contact">Contact</a></li>
    </ul>
</nav>
