
<main class="container py-5">
    <section class="w-full flex flex-col items-center justify-center">
        <img class="w-40 h-40 rounded-full border-2 border-yellow-400" src="./images/foto.png" alt="foto profile">
        <h1 class="text-3xl uppercase font-bold text-yellow-500">Adi Kurniawan</h1>
        <p class="font-thin">Frontend Web Developert || Student</p>
    </section>
</main>